<div class="login-container">
  <h2>Prijava</h2>

  <form (ngSubmit)="login()" #loginForm="ngForm" novalidate>
    <div class="mb-3">
      <label for="email" class="form-label">Email:</label>
      <input
        type="email"
        id="email"
        name="email"
        [(ngModel)]="email"
        required
        email
        #emailModel="ngModel"
        class="form-control"
      />
      <div *ngIf="emailModel.invalid && emailModel.touched" class="text-danger">
        Unesite validan email.
      </div>
    </div>

    <div class="mb-3">
      <label for="password" class="form-label">Lozinka:</label>
      <input
        type="password"
        id="password"
        name="password"
        [(ngModel)]="password"
        required
        minlength="6"
        #passwordModel="ngModel"
        class="form-control"
      />
      <div *ngIf="passwordModel.invalid && passwordModel.touched" class="text-danger">
        Lozinka mora imati najmanje 6 karaktera.
      </div>
    </div>

    <div *ngIf="errorMessage" class="alert alert-danger">
      {{ errorMessage }}
    </div>

    <button type="submit" class="btn btn-primary me-2" [disabled]="loginForm.invalid">
      Prijavi se
    </button>

    

  <a routerLink="/signup" class="btn btn-outline-secondary">Registruj se</a>

    
  </form>
</div>
