<div *ngIf="carouselImages.length > 0">
    <div id="carouselExampleIndicators" class="carousel slide mb-3" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button *ngFor="let img of carouselImages; let i = index" type="button"
            data-bs-target="#carouselExampleIndicators"
            [attr.data-bs-slide-to]="i"
            [class.active]="i === 0"
            [attr.aria-current]="i === 0 ? 'true' : null"
            [attr.aria-label]="'Slide ' + (i + 1)">
        </button>
    </div>
    
    <div class="carousel-inner">
        <div *ngFor="let img of carouselImages; let i = index" class="carousel-item" [class.active]="i === 0">
            <img [src]="img" class="d-block w-100 rounded" alt="Reklama {{i + 1}}"
            style="height: 400px; object-fit: cover;">
        </div>
    </div>
    
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<div class="row mb-5 align-items-stretch">
  <div class="col-sm-3" *ngFor="let ad of advertizments">
    <div class="card h-100 d-flex rounded flex-column">
      <img [src]="ad.img" class="card-img-top" [alt]="ad.title" />
      <div class="card-body">
        <h4 class="card-title">{{ ad.title }}</h4>
        <p class="card-text">{{ ad.description }}</p>
      </div>
    </div>
  </div>
</div>

<div *ngIf="pets">

    <div style="padding-top: 3rem;">
        <h1>Najtraženije katekogorije</h1>
        <div class="row mb-3 align-items-stretch">
            <div class="col-sm-4" *ngFor="let pet of pets">
                <div class="card h-100 d-flex rounded flex-column">
                    <img [src]="webService.getPetImg(pet)" class="card-img-top" [alt]="pet.name"
                        style="height: 250px; width: 100%; object-fit: cover;">
                    <div class="card-body">
                        <h3 class="card-title">{{pet.name}}</h3>
                        <p class="card-text">{{pet.species}}</p>
                    </div>

                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><strong>{{pet.description}}</strong></li>
                    </ul>
                    <div class="card-body mt-auto">
                        <a href="#" class="btn btn-primary" routerLink="{{'/pet/'+pet.id}}">
                            <i class="fa-solid fa-up-right-from-square"></i> Details</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>